/* .text_containor{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 1%;
}

.text_item{
    width: 40%;
    margin: 2%;
    flex-grow: 1;
    border: 0.5px solid black;
    align-content: flex-start;
    padding: 0 1% 0 1%;
    border-radius: 25px;
    min-width: 200px;

} */
